<div class="widget-box notific-area" style="border-radius: 4px;">
    <div class="widget-header">
        <div id="notific-exit" class="widget-icon-right icone-fechar"></div>
        <h4 class="sub-title-top">Notificações</h4>
    </div>
    <div class="widget-body">
        <div class="item">teste</span></div>
        <div class="item">teste</div>
        <div class="item">teste</div>
        <div class="item">teste</div>
    </div>
</div>
