<div class="widget-box">
    <div class="widget-header">
        <h3 class="sub-title-top">Cadastrar Contato</h3>
    </div>
    <div class="widget-body">
        <div class="formulario">
            <div class="form-content">
                <div class="input-form input-small">
                    <label class="label-input">Nome</label>
                    <input name="nome" class="input" type="text" />
                </div>
                <div class="input-form input-medio">
                    <label class="label-input">Email</label>
                    <input name="email" class="input" type="email" />
                </div>
                <div class="input-form input-small">
                    <label class="label-input">Contato</label>
                    <input name="numero" class="input" type="text" />
                </div>
                <div class="input-form input-small">
                    <div class="">
                        <button id="cadastrar" class="button-add input">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
