<div class="widget-box">
    <div class="widget-header">
        <div id="fechar-cad-contato" class="widget-icon-right icone-fechar"></div>
        <h3 class="sub-title-top">Cadastrar Contato</h3>
    </div>
    <div class="widget-body">
        <div class="formulario">
            <div class="form-content">
                <div class="input-form input-small">
                    <label class="label-input">Nome</label>
                    <input name="nome-contato" class="input" type="text" />
                </div>
                <div class="input-form input-medio">
                    <label class="label-input">Email</label>
                    <input name="email-contato" class="input" type="email" />
                </div>
                <div class="input-form input-small">
                    <label class="label-input">Contato</label>
                    <input name="numero-contato" class="input" type="text" />
                </div>
                <div class="input-form input-small">
                    <div class="input-form form-content" style="width: 100%;">
                        <span class="btn icone-success"></span>
                        <button id="cadastrar" class="input button-add button">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
