<div class="widget-box notific-area" style="border-radius: 4px;">
    <div class="widget-header">
        <div id="notific-exit" class="widget-icon-right icone-fechar"></div>
        <h4 class="sub-title-top">Notificações</h4>
    </div>
    <div class="widget-body">
        <div id="00" class="item-notification">
            <div class="notific-view icon icone-olho"></div>
            <div class="notific-dell icon icone-deletar"></div>
            <h4 class="sub-title-top">
            Tarefa de servico 01 hhhhhhh hhhh hhh hhhhh hh hhhhh hhhhhh
            hhhhh hh hhhh hhhhhhhhh hhhh hhhhhhh hhhh hhhhhhhhhhhhh.
            </h4>
        </div>
        <div id="01" class="item-notification">
            <div class="notific-view icon icone-olho"></div>
            <div class="notific-dell icon icone-deletar"></div>
            <h4 class="sub-title-top">Tarefa de servico 02</h4>
        </div>
        <div id="02" class="item-notification">
            <div class="notific-view icon icone-olho"></div>
            <div class="notific-dell icon icone-deletar"></div>
            <h4 class="sub-title-top">Tarefa de servico 03</h4>
        </div>
        <div id="03" class="item-notification">
            <div class="notific-view icon icone-olho"></div>
            <div class="notific-dell icone-deletar"></div>
            <h4 class="sub-title-top">Tarefa de servico 04</h4>
        </div>
    </div>
</div>
