@{
    Layout = null;
    List<string> contatos = ViewBag.Contatos;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Tarefas</title>
    <link href="~/Content/style/Global.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/scripts/Global.js"></script>
    <script src="~/Content/scripts/home.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div class="widget-box">
        <div class="widget-header">
            <div class="widget-icon"></div>
            <div id="notific-tarefa" class="widget-icon-right icone-notific"></div>
            <h4 class="sub-title-top">Cadastro de Tarefas</h4>
        </div>
        <div class="simple-header">
            <h3 class="sub-title">Dados da tarefa</h3>
        </div>
        <div class="widget-body">
            <div class="formulario">

                <div class="form-content">
                    <div class="input-form input-small">
                        <label class="label-input">Data Conclusão Prevista**</label>
                        <input name="data_prevista" class="input" type="datetime-local" />
                    </div>
                    <div class="input-form input-small">
                        <label class="label-input">Data de Conclusão**</label>
                        <input name="data_conclusao" class="input" type="datetime-local" />
                    </div>
                    <div class="input-form input-medio">
                        <label class="label-input">Área**</label>
                        <input name="area" class="input" type="text" />
                    </div>
                    <div class="input-form input-small">
                        <label class="label-input">Impacto**</label>
                        <input name="impacto" class="input" type="text" />
                    </div>
                </div>

                <div class="form-content">
                    <div class="input-form input-small">
                        <label class="label-input">Status**</label>
                        <input name="status" class="input" type="text" />
                    </div>
                    <div class="input-form input-small">
                        <label class="label-input">Origem**</label>
                        <input name="origem" class="input" type="text" />
                    </div>
                    <div class="input-form input-big">
                        <label class="label-input">Responsavel**</label>
                        <input name="responsavel" class="input" type="text" />
                    </div>
                </div>

                <div class="form-content">
                    <div class="input-form input-big-area">
                        <label class="label-input">Descrição</label>
                        <textarea name="descricao" class="input" rows="4" cols="30"></textarea>
                    </div>
                </div>
                <div class="form-content">
                    <div class="input-form input-big-area">
                        <label class="label-input">Observações</label>
                        <textarea name="observacoes" class="input" rows="4" cols="30"></textarea>
                    </div>
                </div>
            </div>

            <div class="line"></div>
            <div class="simple-header">
                <h3 class="sub-title">Notificados</h3>
                <div class="content-button btn-header">
                    <span class="btn icone-add"></span>
                    <button id="adicionar_contato" class="button-add input">Cadastrar</button>
                </div>
            </div>
            <div class="formulario-exec">
                <div class="formulario">
                    <div class="form-content">
                        <div class="content-select">
                            <select id="select-contato" name="contato" class="input-select">
                                <option value="Selecionar">Seleconar um Contato</option>
                                @{
                                    foreach (string contato in contatos)
                                    {
                                        <option value="@contato">@contato</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="content-button">
                            <span class="btn icone-add"></span>
                            <button id="adicionar-contato" class="input button-add button">Adicionar</button>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="content-select">
                            <input name="add-contato-value" class=" input input-medio"/>
                        </div>
                        <div class="content-button">
                            <span class="btn icone-deletar"></span>
                            <button id="remover-contato" class="input button-remove button">Remover</button>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="content-select" style="border: none;">

                        </div>
                        <div class="content-button">
                            <span class="btn icone-success"></span>
                            <button id="salvar" class="input button-save button">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="cadastrar_contato">
        @Html.Partial("_PartialCadastrarContato")
    </div>
</body>
</html>
